.about {
  display: flex;
  background: #707399;
  justify-content: space-evenly;
}

.about__paragraph {
  max-width: 50%;
  font-size: 24px;
  line-height: 1.5;
  align-content: center;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 300;

}

.about__skills {
  max-width: 40%;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.devicon {
  width: 100px;
  margin: 20px;
}

.about__skills__row {
  margin-top: 30px;
}



@media (max-width:1053px) {
  .devicon {
    width: 90px;
    margin: 20px;
  }
}
  
@media (max-width: 975px) {
  .about {
      flex-direction: column;
      padding: 30px;
      padding-left: 20px;
  }

  .about__paragraph {
    max-width: 100%;
    padding-top: 0px;
    font-size: 20px;
    line-height: 1.5;
  }
  .about__skills {
    max-width: 100%;
  }  
  
  .devicon {
    width: 110px;
    margin: 30px;
  }

}

@media (max-width: 588px) {
  .devicon {
    width: 90px;
    margin: 20px;
  }
}

@media (max-width: 450px) {
  .devicon {
    width: 80px;
    margin: 10px;
  }
}
@media (max-width: 372px) {
  .devicon {
    width: 60px;
  }
}



