.contact {
  background: #3d3f42;
  min-height: 500px;
  display: flex;
  color: #fff;
  padding-left: 20px;
}

.contact__info {
  width: 400px;
  padding: 50px;
}

.contact__info__links {
  color: #fff;
  cursor: pointer;
}

.contact__info__text {
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.fas {
  font-size: 48px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.contact__form {
  width: 400px;
  padding-top: 50px;
}

.contact__form__title {
  margin-top: 0px;
  margin-left: 10px;
}

.contact__form__input {
  display: block;
  margin: 10px;
  margin-bottom: 15px;
}

.contact__form__email,
.contact__form__message {
  border: none;
  background: transparent;
  padding-left: 5px;
  border: #fff 2px solid;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
}

.contact__form__email {
  width: 200px;
  height: 30px;
  padding-left: 10px;
}

.contact__form__email::-webkit-input-placeholder,
.contact__form__message::-webkit-input-placeholder,
.contact__form__email,
.contact__form__message {
  color: #fff;
  font-size: 16px;
}
.contact__form__email:focus,
.contact__form__email:active,
.contact__form__message:active,
.contact__form__message:focus {
  outline: none;
  border: none;
  background: transparent;
  border: #fff 2px transparent;
  border: #45f442 2px solid;
  transition: all 0.5s;
}

.contact__form__message {
  width: 400px;
  height: 100px;
  padding: 10px;
}

.contact__form__button {
  width: 130px;
  height: 50px;
  margin: 10px;
  background: transparent;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  border: #f4ee42 3px solid;
  transition: 0.4s all;
}

.contact__form__button:hover {
  cursor: pointer;
  background: #f4ee42;
  transform: scale(1.1);
  color: #3d3f42;
}

.contact__form__button:active {
  outline: none;
}

@media (max-width: 1000px) {
  .contact__info {
    width: 300px;
  }
}

@media (max-width: 890px) {
  .contact__info {
    width: 200px;
  }
}

@media (max-width: 800px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact__form {
    margin-top: 0px;
    padding-top: 10px;
  }
}

@media (max-width: 769px) {
  .contact__info__text {
    font-weight: 400;
  }
  .contact__form__title {
    font-weight: 400;
  }
  .contact__form__button {
    margin-bottom: 60px;
  }
}

@media (max-width: 530px) {

  .contact {
    padding-left: 0px;
  }
  .contact__form {
    width: 90%;
  }
  .contact__form__message {
    width: 90%;
  }
  .contact__form__title {
    margin-left: 0px;
  }
  .contact__form__input {
    margin-left: 0px;
  }

}

