.contact {
  background: #3d3f42;
  height: 500px;
  display: flex;
}

.contact__info {
  background: green;
  width: 400px;
  padding: 20px;
}

.contact__info__text {
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.contact__form {
  background: red;
  width: 400px;
}

.fas {
  font-size: 48px;
  margin-right: 15px;
}
