.header {
  width: 100%;
  height: 625px;
  background: #2da594;
}

.header__content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header__content__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 300px;
}

.header__content__name {
  font-size: 60px;
  font-weight: 600;
}

.header__content__description {
  font-weight: 400;
}

.header__arrow {
  margin-top: 10px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
object {
  pointer-events: none;
}
.cursor-hover-area {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}


