.projects {
    word-wrap: break-word;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.singleProject {
    width: 300px;
    height: 260px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .projects {
        padding-top: 40px;
    }
}


@media (min-width: 1460px) { 
    .singleProject {
        width: 400px;
        box-sizing: border-box;
    } 
 }

 @media (min-width: 1840px) {
     .projects {
         padding-left: 13%;
         padding-right: 13%;
     }
 }

 @media (min-width: 2420px) {
    .projects {
        padding-left: 18%;
        padding-right: 18%;
    }
 } 

